*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.nav__container{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    height:60px;
    background:#f5f5f5;
    position:fixed;
    width:100%;
    z-index:10;
}

.nav__container>.orange__btn {
    border: none;
    justify-self: flex-start;
    flex: 1;
    background: none;
}

.create__btn {
    color: white;
    text-decoration: none;
    float: left;
}
ul{
    flex: 1;
    display:flex;
}

ul > li{
    list-style-type:none;
    padding:10px 15px;
}

.link{
    text-decoration:none;
    color:rgba(0,0,0,0.7);
    font-size:20px;
    margin-right:20px;
}

.link:hover{
    color:#000;
}
.orange__btn {
    border: none;
    margin-right: 5px;
}